#selectable .ui-selected {
    background: #f39814 none repeat scroll 0 0;
    color: white;
}
.sscheduler .event{
    background-color: #2c58af;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;

}
.sscheduler tbody > tr > td{
    padding: 0px;
    border-style: dotted;
    vertical-align: middle;
}
.event-cel{
    overflow: visible;
    position: relative;
    -box-sizing: border-box !important;
    -padding: 5px;
}
.event-draw{
    padding: 5px;
}

.sscheduler-droppable{
    background-color: #e7fff5;
}

.sscheduler-hover-droppable{
    background-color: #d0e9df;
}

.pausa-pranzo{
    background:repeating-linear-gradient(
            45deg,
            #fff,
            #fff 10px,
            #f8f8f8 10px,
            #f8f8f8 20px
    )
}
.pausa-pranzo td{
    border: 0px !important;
}
.sscheduler-datepicker{
    width: 85px;
}