#selectable .ui-selected {
    background: #f39814 none repeat scroll 0 0;
    color: white;
}
.sscheduler.table{
    table-layout: fixed;
}
.sscheduler .event{
    background-color: #2c58af;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    border-radius: 5px;
    border: 1px solid #151aad;

}
.sscheduler tbody > tr > td{
    padding: 0px !important;
    border-style: dotted;
    vertical-align: middle;
}
.sscheduler .event-cel{
    overflow: visible;
    position: relative;
    -box-sizing: border-box !important;
    -padding: 5px;
}
.sscheduler .event-draw{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    letter-spacing: -.2px;
    padding: 2px;
    line-height: 1;
}

.sscheduler-droppable{
    background-color: #e7fff5;
}

.sscheduler-hover-droppable{
    background-color: #d0e9df;
}

tr.pausa-pranzo{
    background:repeating-linear-gradient(
            45deg,
            #fff,
            #fff 10px,
            #f8f8f8 10px,
            #f8f8f8 20px
    ) !important;
}
.pausa-pranzo td{
    border: 0px !important;
    background:none !important;
}
input.sscheduler-datepicker{
    width: 85px !important;
    font-size: 13px;
    border: 1px solid #DDD;
}
.sscheduler td.orari{
    text-align: center;
}
.sscheduler .event-time-label{
    text-align: center;
    font-size: 11px;
    color: #f9f9f9;
}

.sscheduler .scheduler-titles{
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
